* {
    margin: 0;
    padding: 0;
  }
  body {
    height: 240vh;
    background-color: #f5f5f5;
  }
  body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  body::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 3px;
  }
  .bts {
    position: relative;
  }
  main {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  #box {
    height: 108vh;
    width: 100%;
    display: flex;
    /* overflow: hidden; */
  }
  .one {
    height: 100%;
    width: 20%;
  }
  .two {
    height: 100%;
    width: 80%;
    background: linear-gradient(241.05deg, rgba(221, 195, 110, 0.72) -15.75%, rgba(246, 243, 255, 0.72) 73.55%);
    filter: blur(30%);
  }
  #quote {
    position: absolute;
    font-weight: 400;
    font-size: 1.7rem;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    position: absolute;
    margin: 6.5% 7% 4%;
    font-style: italic;
    line-height: 2.5rem;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.3rem;
    opacity: 100%;
    color: #031718;
  }
  #person {
    position: absolute;
    font-weight: 400;
    font-size: 1.2rem;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    position: absolute;
    margin: 12% 33% 4%;
    font-style: italic;
    line-height: 2.5rem;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.3rem;
    color: #011013;
  }
  .text {
    display: flex;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-style: normal;
    position: absolute;
    font-weight: bold;
    font-size: 1.2rem;
    align-items: center;
    letter-spacing: 0.2em;
    color: #564939;
    transform: rotate(-90deg);
    left: -3%;
    top: 60%;
  }
  .text h1 {
    position: relative;
  }
  .image img {
    position: absolute;
    top: 33%;
    left: 21%;
    border-radius: 1.5%;
  }
  .info {
    width: 20%;
    padding: 23% 40%;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.4rem;
    letter-spacing: 0.06em;
  }
  .date {
    font-weight: bold;
  }
  .sign {
    right: 2%;
    position: absolute;
    bottom: 6.5%;
  }
  .three {
    height: 90vh;
    width: 100%;
  }
  .tags {
    height: 18%;
    width: 100%;
    background-color: #d7dadf;
  }
  .tags ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tags ul li {
    list-style: none;
    padding: 3% 7%;
    font-size: large;
    font-weight: bold;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    letter-spacing: 0.2rem;
  }
  .discography {
    position: relative;
    height: 92vh;
    width: 100%;
    background:linear-gradient(264.45deg, #C8F5F8 2.21%, rgba(248, 200, 220, 0) 110.64%);
    font-weight: lighter;
  }
  .disc {
    position: absolute;
    margin: 3% 8%;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    letter-spacing: 0.1rem;
    font-size: 1.45rem;
    font-weight: lighter;
    font-style: normal;
  }
  .songs {
    position: absolute;
    font-size: medium;
  }
  .songs h3 {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    letter-spacing: 0.1rem;
  }
  #osts {
    margin: 7% 8%;
  }
  #solo {
    margin: 15% 8%;
  }
  #orignal {
    margin: 25% 8%;
  }
  .songs ul {
    list-style: none;
  }
  .songs ul li:before {
    content: "\2665";
  }
  .songs ul li {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    padding: 1% 0%;
    letter-spacing: 0.11rem;
  }
  .song_image img {
    float: right;
  }
  .song_image img:hover {
    width: 13%;
    transition-duration: 1000ms;
    transition-timing-function: ease-in-out;
  }
  
  #a1 {
    position: relative;
    margin: 2% 2% 2%;
    right: 30%;
  }
  #a2 {
    position: absolute;
    margin: 2% 2% 2%;
    right: 15.5%;
  }
  #a3 {
    position: absolute;
    margin: 2% 2% 2%;
    right: 0.1%;
    top: 32%;
  }
  #a4 {
    position: absolute;
    margin: 4% 1%;
    right: 16%;
    top: 27.5%;
  }
  #a5 {
    position: absolute;
    margin: 4% 1%;
    right: 31%;
    top: 27.5%;
  }
  #a6 {
    position: absolute;
    margin: 4% 1%;
    right: 16%;
    top: 58.5%;
  }
  #a7 {
    position: absolute;
    margin: 4% 1%;
    right: 0.8%;
    top: 58.5%;
  }
  