<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/aboutus.css">
    <title>About Us</title>
        {{!-- <link rel="stylesheet" href="stylehome.css" /> --}}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Piazzolla:opsz@8..30&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Outfit&display=swap" rel="stylesheet" />
</head>
<body>
  <div>
    {{>navbar}}
      {{!-- <img id="flower1" src="images/a38.png" />
      <img id="flower2" src="images/a37-removebg-preview.png" /> --}}
      
    <img id="army" src="./images/army_logo.png" alt="">
    <p class="ami">ADORABLE REPRESENTATIVE M.C. FOR YOUTH</p>
    <p class="Quote">Before I die, I just wanna know</p>
          <div class="imagescroll">
            <img src="images/armygirl.jpg">
            <p class="who">WHO WE ARE</p>
            <p class="desc" align="justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti dolores quae dolorum enim nemo in numquam qui sit voluptates cumque ipsum doloribus eligendi reiciendis suscipit, ab similique molestias ad, ducimus, alias perspiciatis dignissimos iste laudantium facilis. Nisi ipsum repudiandae aperiam, temporibus eos exercitationem at placeat labore tenetur iste officia inventore aut nulla alias. </p>
         </div> 
         <div class="f">
          {{>footer}}
         </div>
         
         </div>
</body>
</html>