<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Piazzolla:opsz,wght@8..30,100;8..30,600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style_jk.css" />
    <title>JIMIN BTS</title>
  </head>
  <body>
    <div class="first">
      <a href="jk_main" alt="jimin"><div class="BTS">
          <img src="Images/jk9 1.png" height="85%" width="80%" alt="Jimin" />
          <div class="bts_1">
            <h1>JEON JUNGKOOK</h1>
          </div>
        </div></a>
      <div class="music">
        <img src="Images/jka57 1.png" alt="Blue Side" height="50%" width="25%" />
      </div>
      <div class="content">
        <p class="t1">Dreamers</p>
        <img src="Images/like(1).png" height="4%" alt="like" />
        <p class="t2">Jungkook</p>

        <div class="song-slider">
          <input type="range" value="0" class="seek-bar" />
          <span class="current-time">00:00</span>
          <span class="song-duration">00:00</span>
        </div>
        <img id="i1" src="Images/Shuffle.png" height="7%" alt="shuffle" />
        <a href="v"><img id="i2" src="Images/Skip to Start.png" height="7%" alt="restart" /></a>
        <img id="i3" src="Images/Play Button Circled.png" height="7%" alt="play" />

        <audio id="song">
          <source
            src="Images/BTS Jungkook - Dreamers Lyrics (FIFA World Cup 2022 Official Soundtrack).mp4"
            type="audio/mp3"
          />
        </audio>
        <a href="rm"><img id="i4" src="Images/End.png" height="7%" alt="end" /></a>
        <img id="i5" src="Images/Repeat.png" height="7%" alt="repeat" />
      </div>
    </div>
    <script src="js/js_v.js"></script>
  </body>
</html>