<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="stylehome.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap" rel="stylesheet" />
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin /> -->
    <link
      href="https://fonts.googleapis.com/css2?family=Piazzolla:opsz@8..30&display=swap"
      rel="stylesheet"
    />
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin /> -->
    <link href="https://fonts.googleapis.com/css2?family=Outfit&display=swap" rel="stylesheet" />
  </head>
  <style>
    * {
      padding: 0;
      margin: 0;
    }
     body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  body::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 3px;
  }
  </style>
  <body>
    {{>navbar}}
    <main>
      <div class="imagescroll"></div>
    </main>
    <script src="js/homejson.js"></script>
  </body>
</html>
