<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style_jhope_main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Piazzolla:opsz,wght@8..30,100;8..30,600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Outfit&display=swap" rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Piazzolla:opsz,wght@8..30,100;8..30,600&display=swap" rel="stylesheet">

    <title>Jhope</title>
</head>
<body>
    <div class="bts">
    {{>navbar}}

    <main id="box">
        <div class="one">
            <p id="quote">Where you stand now is what<br>defines you.
        <p id="person"> -BTS J-HOPE</p></p>
        <div class="kt">
            <div class="text">
                <h1><b>JUNG HOSEOK</b></h1>
            </div>
            <div class="image">
                <img src="images/jhope62 1.png" alt="suga" width="25%" height="65%">
            </div>
            
        </div>
        </div>
        <div class="two">
            <pre class="info">
<span class="date">18 February 1994</span>

Born and brought up in Gwangju, South Korea.

Rapper, song-writer, record producer, dancer.

He has released ta mixtape Hope World and made his official solo 
debut with his first studio album Jack In The Box on July 15, 2022. 

He is the rappper and dancer leader of the group.

            </pre>
            <img src="images/hope10 1.png" alt="signature" class="sign" width="14%" height="13%">
        </div>
    </main>
</div>
<div class="three">
    <div class="tags">
        <ul>
            <li>Sunshine</li>
            <li>I’m Your Hope</li>
            <li>Hobi</li>
            <li>J-Dope</li>
        </ul>
    </div>
    <div class="discography">
        <h1 class="disc">DISCOGRAPHY</h1>
        <div class="songs" id="osts">
            <h3>Features</h3>
            <ul>
                <li>"Animal” (2012)</li>
                <li>"Crush -”Rush Hour” (2022)</li>
            </ul>
        </div>
        <div class="songs" id="solo">
            <h3>Solo songs credited as BTS</h3>
            <ul>
                <li>"MAMA" from WINGS (2016)
                    </li>
                <li>"Trivia: Just Dance" from LOVE YOURSELF 轉 'Answer' (2018)</li>
                <li>"Outro: Ego" from MAP OF THE SOUL : 7 (2020)</li>
            </ul>
        </div>
        <div class="songs" id="orignal">
            <h3>Digital Singles</h3>
            <ul>
                <li>"Chicken Noodle Soup (feat Becky G)" (2019) </li>
                <li>"Blue Side” (2021)</li>
                <li>"More” (2022)</li>
            </ul>
        </div>
        <div class="song_image">
            <img src="images/jhopea61 1.png" alt="Sweetnight" id="a2" width="12%">
            <img src="images/jhope43 1.png" alt="Christmastree" id="a1" width="12%">
            <img src="images/jhope43 2.png" alt="v2" id="a5" width="12%">
            <img src="images/jhopea62 1.png" alt="v1" id="a4" width="12%">
            <img src="images/jhopea63 1.png" alt="sun flower" id="a3" width="12%">
            <img src="images/jhopea60 1.png" alt="v4" id="a6" width="12%">
            <img src="images/jhopea64 1.png" alt="v3" id="a7" width="12%">

        </div>
    </div>
   {{>footer}}
</div>
</body>
</html>