<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style_jin_main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Piazzolla:opsz,wght@8..30,100;8..30,600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Outfit&display=swap" rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Piazzolla:opsz,wght@8..30,100;8..30,600&display=swap" rel="stylesheet">

    <title>JIN</title>
</head>
<body>
    <div class="bts">
{{>navbar}}
    <main id="box">
        <div class="one">
            <p id="quote">Your presence can give happiness.I<br> hope you remember that
        <p id="person"> -BTS JIN</p></p>
        <div class="kt">
            <div class="text">
                <h1><b>KIM SOEKJIN</b></h1>
            </div>
            <div class="image">
                <img src="images/jin62 1.png" alt="JIN" width="25%" height="65%">
            </div>
            
        </div>
        </div>
        <div class="two">
            <pre class="info">
<span class="date">4 December 1992</span>

Born and brought up in Gwacheon, Gyeonngi Province, South 
Korea.

Singer, song-writer,model,record producer.

He has released many solo songs like Tonight, Abyss, Syper Tuna.
He made his official solo debut with his first single album 
“Astronaut” on October 28,2022

He is the vocalist and visual of the group.
            </pre>
            <img src="images/jin6 1.png" alt="signature" class="sign" width="15%">
        </div>
    </main>
</div>
<div class="three">
    <div class="tags">
        <ul>
            <li>World Wide Handsome</li>
            <li>Car Door Guy</li>
            <li>Beautiful</li>
            <li>Shoulder Hyung</li>
        </ul>
    </div>
    <div class="discography">
        <h1 class="disc">DISCOGRAPHY</h1>
        <div class="songs" id="osts">
            <h3>OSTs</h3>
            <ul>
                <li>“Dream Glow” from “BTS World OST Part.1” (2019)</li>
                <li>"Yours” from “Jirisan OST Part.4” (2021)</li>
            </ul>
        </div>
        <div class="songs" id="solo">
            <h3>Solo songs credited as BTS</h3>
            <ul>
                <li>"Awake" from WINGS (2016)</li>
                <li> "Epiphany" from LOVE YOURSELF 轉 'Answer’  (2018)</li>
                <li>"Moon" from MAP OF THE SOUL : 7 (2020)</li>
            </ul>
        </div>
        <div class="songs" id="orignal">
            <h3>Original songs</h3>
            <ul>
                <li>“Moterlude”(2014)</li>
                <li>"Always” (2017)</li>
                <li>"Bicycle” (2021)</li>
            </ul>
        </div>
        <div class="song_image">
            <img src="images/jina61 1.png" alt="Sweetnight" id="a2" width="12%">
            <img src="images/jin43 1.png" alt="Christmastree" id="a1" width="12%">
            <img src="images/jin43 2.png" alt="v2" id="a5" width="12%">
            <img src="images/jina62 1.png" alt="v1" id="a4" width="12%">
            <img src="images/jina63 1.png" alt="sun flower" id="a3" width="12%">
            <img src="images/jina60 1.png" alt="v4" id="a6" width="12%">
            <img src="images/jina64 1.png" alt="v3" id="a7" width="12%">

        </div>
    </div>
   {{>footer}}
</div>
</body>
</html>