<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style_jk_main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Piazzolla:opsz,wght@8..30,100;8..30,600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Outfit&display=swap" rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Piazzolla:opsz,wght@8..30,100;8..30,600&display=swap" rel="stylesheet">

    <title>Jungkook</title>
</head>
<body>
    <div class="bts">
   {{>navbar}}
    <main id="box">
        <div class="one">
            <p id="quote">I’d rather die than live<br> without passion
        <p id="person"> -BTS JK</p></p>
        <div class="kt">
            <div class="text">
                <h1><b>JEON JUNGKOOK</b></h1>
            </div>
            <div class="image">
                <img src="images/jk62 1.png" alt="JIN" width="25%" height="65%">
            </div>
            
        </div>
        </div>
        <div class="two">
            <pre class="info">
<span class="date">1 September 1997</span>

Born ansd brought up in Busan, South Korea.

Singer, song-writer,model.

He has released two self-produced songs “Still WIth You” in 2020 
and “My You” in 2022

He is the center, vocalist, dancer, visual and maknae of the group.
            </pre>
            <img src="images/jka58 1.png" alt="signature" class="sign" width="15%">
        </div>
    </main>
</div>
<div class="three">
    <div class="tags">
        <ul>
            <li>Global Instagrammer</li>
            <li>Golden Maknae</li>
            <li>Sexiest Asian Man</li>
            <li>Kookie</li>
        </ul>
    </div>
    <div class="discography">
        <h1 class="disc">DISCOGRAPHY</h1>
        <div class="songs" id="osts">
            <h3>OSTs</h3>
            <ul>
                <li>"Stay Alive” from 7FATES:CHAKHO (2022)</li>
                <li>"Dreamers” from FIFA World Cup 2022 (2022)</li>
            </ul>
        </div>
        <div class="songs" id="solo">
            <h3>Solo songs credited as BTS</h3>
            <ul>
                <li>"Begin" from WINGS (2016)</li>
                <li> "Euphoria" from LOVE YOURSELF ‘Answer' (2018)</li>
                <li>"My Time" from MAP OF THE SOUL : 7 (2020)</li>
            </ul>
        </div>
        <div class="songs" id="orignal">
            <h3>Original songs</h3>
            <ul>
                <li>"So Far Away” (2017)</li>
                <li>"Still With You” (2020)</li>
                <li>"My You” (2022)</li>
            </ul>
        </div>
        <div class="song_image">
            <img src="images/jka61 1.png" alt="Sweetnight" id="a2" width="12%">
            <img src="images/jk43 1.png" alt="Christmastree" id="a1" width="12%">
            <img src="images/jk43 2.png" alt="v2" id="a5" width="12%">
            <img src="images/jka62 1.png" alt="v1" id="a4" width="12%">
            <img src="images/jka63 1.png" alt="sun flower" id="a3" width="12%">
            <img src="images/jka60 1.png" alt="v4" id="a6" width="12%">
            <img src="images/jka64 1.png" alt="v3" id="a7" width="12%">

        </div>
    </div>
   {{>footer}}
</div>
</body>
</html>