<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style_rm_main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Piazzolla:opsz,wght@8..30,100;8..30,600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Outfit&display=swap" rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Piazzolla:opsz,wght@8..30,100;8..30,600&display=swap" rel="stylesheet">

    <title>RM</title>
</head>
<body>
    <div class="bts">
    {{>navbar}}

    <main id="box">
        <div class="one">
            <p id="quote">If you can’t respect, don’t<br>open your mouth
        <p id="person"> -BTS RM</p></p>
        <div class="kt">
            <div class="text">
                <h1><b>KIM NAMJOON</b></h1>
            </div>
            <div class="image">
                <img src="Images/nam1 1.png" alt="V" width="25%" height="65%">
            </div>
            
        </div>
        </div>
        <div class="two">
            <pre class="info">
<span class="date">12 September 1994</span>

Born an brought up in Dongjak-gu,Korea and grew up in Ilsan-gu.

Rapper, song-writer,model,singer,record producer.

He has released many two mixtapes called RM and Mono.He will 
make his official solo debutt with his first studio album Indigo on
December 2,2022.

He is the leader and main-rapper of the group.
            </pre>
            <img src="Images/rm_sign2 1.png" alt="signature" class="sign" width="14%" height="13%">
        </div>
    </main>
</div>
<div class="three">
    <div class="tags">
        <ul>
            <li>Best Leader</li>
            <li>148 IQ</li>
            <li>Rap Monster</li>
            <li>King</li>
        </ul>
    </div>
    <div class="discography">
        <h1 class="disc">DISCOGRAPHY</h1>
        <div class="songs" id="osts">
            <h3>OSTs</h3>
            <ul>
                <li>"Fantastic" (feat. Mandy Ventrice) (2015)</li>
                <li>"All Night” from “BTS World OST Part.3”(2019)</li>
            </ul>
        </div>
        <div class="songs" id="solo">
            <h3>Solo songs credited as BTS</h3>
            <ul>
                <li>"Intro: 2 Cool 4 Skool” (2013)</li>
                <li>"Reflection” from WINGS (2016)</li>
                <li>"Intro:Persona” from MAP OF THE SOUL : PERSONA (2019)</li>
            </ul>
        </div>
        <div class="songs" id="orignal">
            <h3>Original songs</h3>
            <ul>
                <li>“Moterlude”(2014)</li>
                <li>"Always” (2017)</li>
                <li>"Bicycle” (2021)</li>
            </ul>
        </div>
        <div class="song_image">
            <img src="Images/a61 1.png" alt="Sweetnight" id="a2" width="12%">
            <img src="Images/43 1.png" alt="Christmastree" id="a1" width="12%">
            <img src="Images/43 2.png" alt="v2" id="a5" width="12%">
            <img src="Images/a62 2.png" alt="v1" id="a4" width="12%">
            <img src="Images/a63 1.png" alt="sun flower" id="a3" width="12%">
            <img src="Images/a60 1.png" alt="v4" id="a6" width="12%">
            <img src="Images/a64 1.png" alt="v3" id="a7" width="12%">

        </div>
    </div>
    {{>footer}}
</div>
</body>
</html>