<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style_suga_main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Piazzolla:opsz,wght@8..30,100;8..30,600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Outfit&display=swap" rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Piazzolla:opsz,wght@8..30,100;8..30,600&display=swap" rel="stylesheet">

    <title>RM</title>
</head>
<body>
    <div class="bts">
{{>navbar}}
    <main id="box">
        <div class="one">
            <p id="quote">In the end they will judge me,<br> so whatever.
        <p id="person"> -BTS SUGA</p></p>
        <div class="kt">
            <div class="text">
                <h1><b>MIN YOONGI</b></h1>
            </div>
            <div class="image">
                <img src="images/suga62 1.png" alt="suga" width="25%" height="65%">
            </div>
            
        </div>
        </div>
        <div class="two">
            <pre class="info">
<span class="date">9 March 1993</span>

Born an brought up in Daegu, Douth Korea.

Rapper, song-writer,model, record producer.

He has released many two mixtapes August D and D-2 and has 
collaborated in  many songs like Blueberry Eyes and That That.

He is the lead rapper of the group.In 2018,Suga was promoted to full 
member of the Korea Music Copyright Association.

            </pre>
            <img src="images/suga6 1.png" alt="signature" class="sign" width="14%" height="13%">
        </div>
    </main>
</div>
<div class="three">
    <div class="tags">
        <ul>
            <li>Minstradamus</li>
            <li>Min PD</li>
            <li>Hades Of Midas</li>
            <li>August D</li>
        </ul>
    </div>
    <div class="discography">
        <h1 class="disc">DISCOGRAPHY</h1>
        <div class="songs" id="osts">
            <h3>Mixtapes</h3>
            <ul>
                <li>August D (2016)</li>
                <li>D-2 (2020)</li>
            </ul>
        </div>
        <div class="songs" id="solo">
            <h3>Solo songs credited as BTS</h3>
            <ul>
                <li>"First Love" from WINGS (2016)</li>
                <li>"Trivia : Seesaw " from LOVE YOURSELF 轉 'Answer' (2018)</li>
                <li>"Interlude: Shadow" from MAP OF THE SOUL : 7 (2020)</li>
            </ul>
        </div>
        <div class="songs" id="orignal">
            <h3>Original songs</h3>
            <ul>
                <li>“It doesn’t Matter Mix Final” (2013)</li>
                <li>"So Far Away” (2017)</li>
                <li>"DDaeng” (2018)</li>
            </ul>
        </div>
        <div class="song_image">
            <img src="images/sugaa61 1.png" alt="Sweetnight" id="a2" width="12%">
            <img src="images/suga43 1.png" alt="Christmastree" id="a1" width="12%">
            <img src="images/suga43 2.png" alt="v2" id="a5" width="12%">
            <img src="images/sugaa62 1.png" alt="v1" id="a4" width="12%">
            <img src="images/sugaa63 1.png" alt="sun flower" id="a3" width="12%">
            <img src="images/sugaa60 1.png" alt="v4" id="a6" width="12%">
            <img src="images/sugaa64 1.png" alt="v3" id="a7" width="12%">

        </div>
    </div>
   {{>footer}}
</div>
</body>
</html>