<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style_v_main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Piazzolla:opsz,wght@8..30,100;8..30,600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Outfit&display=swap" rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Piazzolla:opsz,wght@8..30,100;8..30,600&display=swap" rel="stylesheet">
    <title>V</title>
</head>
<body>
    <div class="bts">
{{>navbar}}
    <main id="box">
        <div class="one">
            <p id="quote">Don't be trapped in someone<br>else's dream             
        <p id="person"> -BTS V</p></p>
        <div class="kt">
            <div class="text">
                <h1><b>KIM TAEHYUNG</b></h1>
            </div>
            <div class="image">
                <img src="images/62.jpg" alt="V" width="25%" height="65%">
            </div>
            
        </div>
        </div>
        <div class="two">
            <pre class="info">
<span class="date">25 December 1995</span>

Born and brought up in Daegu, Douth Korea.

Singer, song-writer,model.

He has released many solo songs like Stigma, Secenery,Christmas 
tree, Inner child and is a part of all BTS songs.

He is the vocalist and dancer of the group.
            </pre>
            <img src="images/a58 1.png" alt="signature" class="sign" width="15%">
        </div>
    </main>
</div>
<div class="three">
    <div class="tags">
        <ul>
            <li>Most Handsome Man</li>
            <li>Visual of K-Pop</li>
            <li>Asian Heartthrob</li>
            <li>Global Muse</li>
        </ul>
    </div>
    <div class="discography">
        <h1 class="disc">DISCOGRAPHY</h1>
        <div class="songs" id="osts">
            <h3>OSTs</h3>
            <ul>
                <li>"Sweet Night" from "Itaewon Class OST Part.12" (2020)</li>
                <li>"Christmas Tree" from "Our Beloved Summer OST Part.5" (2021)</li>
            </ul>
        </div>
        <div class="songs" id="solo">
            <h3>Solo songs credited as BTS</h3>
            <ul>
                <li>"Stigma" from WINGS (2016)</li>
                <li>"Intro: Singularity" from LOVE YOURSELF 轉 'Tear' (2018)</li>
                <li>"Inner Child" from MAP OF THE SOUL : 7 (2020)</li>
            </ul>
        </div>
        <div class="songs" id="orignal">
            <h3>Original songs</h3>
            <ul>
                <li>"풍경 (Scenery)" (2019)</li>
                <li>"Winter Bear" (2019)</li>
                <li>"Snow Flower (feat. Peakboy)" (2020)</li>
            </ul>
        </div>
        <div class="song_image">
            <img src="images/a61.jpg" alt="Sweetnight" id="a2" width="12%">
            <img src="images/44.jfif" alt="Christmastree" id="a1" width="12%">
            <img src="images/a63.jpg" alt="v2" id="a5" width="12%">
            <img src="images/a62.jpg" alt="v1" id="a4" width="12%">
            <img src="images/43.jpg" alt="sun flower" id="a3" width="12%">
            <img src="images/a60.jfif" alt="v4" id="a6" width="12%">
            <img src="images/a64.jpg" alt="v3" id="a7" width="12%">

        </div>
    </div>
{{>footer}}
</div>
</body>
</html>