<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/footer.css" />
    <title>footer</title>
  </head>
  <body>
    <footer class="foot">
      <hr />
      <div class="sec">
        <div class="section" id="s1">
          <h3>BTS WORLD</h3>
          <br />
          <ul>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Support Us</a></li>
            <li><a href="#">About Us</a></li>
          </ul>
        </div>
        <div class="section" id="s2">
          <h3>FOLLOW US</h3>
          <a href="https://www.facebook.com/bangtan.official/"><img
              src="Images/Facebook Circled.png"
              alt="Facebook"
              width="10%"
              id="b1"
            /></a>
          <a href="https://www.instagram.com/bts.bighitofficial/?hl=en"><img
              src="Images/Instagram.png"
              alt="Instagram"
              width="10%"
              id="b2"
            /></a>
          <a href="https://www.youtube.com/c/bangtantv/videos"><img
              src="Images/YouTube.png"
              alt="YouTube"
              width="10%"
              id="b3"
            /></a>
          <a href="https://twitter.com/bts_twt"><img
              src="Images/Twitter Circled.png"
              alt="Twitter"
              width="10%"
              id="b4"
            /></a>
        </div>
        <div class="section" id="s3">
          <h3>NEWSLETTER</h3>
          <p>Be the first one to know the<br /> latest upadtes and news</p>
          <input class="Email" type="text" placeholder="ENTER EMAIL ADDRESS" />
          <input class="submit" type="submit" value="Submit" />
        </div>
      </div>
    </footer>
  </body>
</html>