<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/navbar.css">
    <title>nav</title>
</head>
<body>
      <header>
      <nav>
         <!-- <img id="logo" src="images/BTS WORLD.png" /> -->
         <label class="logo">BTS WORLD</label>
         <ul>
           <li><a href="/">HOME</a></li>
           <li><a href="btshome">BTS</a></li>
           <li><a href="aboutus">ABOUT US</a></li>
           <li><a id="overlay" href="login">ACCOUNT</a></li>
           <li>
             <a href="ham"><img src="Images/hamburger.png" height="15rem" alt="Hamburger" /></a>
           </li>
         </ul>
         <hr/>
       </nav>
    </header>
</body>
</html>